@model ArduinoWeb.ViewModels.DispositivoVm


@{ ViewData["Title"] = "Home"; }

<div class="jumbotron" style="padding-top: 10px; padding-bottom: 10px;">
    <h3></h3>
    <p>Arduino - web.</p>
</div>

<div class="row">
    <div class="col-lg-3">
        
        <div class="form-group" style="margin-bottom: 20px">
            <label for="devicesMenu">Dispositivo corrente:</label>
            <div class="dropdown">
                <button class="btn btn-success dropdown-toggle" type="button" id="devicesMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width: 185px">
                    @Model.TipoNome
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="devicesMenu">
                    @foreach (var item in Model.RelatorioDispositivos)
                    {
                        <li><a href="@Url.Action("Index", new {id = item.RelatorioDispositivoId})">@item.Nome</a></li>
                    }
                </ul>
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 20px">
            <label for="locationsMenu">Definir Localização:</label> <a href="@Url.Action("Adicionar Localização", "Home")">Adicionar</a>
            <div class="dropdown">
                <button class="btn btn-info dropdown-toggle" type="button" id="locationsMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width: 185px">
                    @Model.LocalizacaoNome
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="locationsMenu">
                    @foreach (var item in Model.Localizacoes)
                    {
                        <li><a href="@Url.Action("ALteraLocalizacao", new {relatorioDispositivoId = Model.RelatorioDispositivoId, localizacaoId = item.LocalizacaoId})">@item.Nome</a></li>
                    }
                </ul>
            </div>
        </div>



        <div class="form-group" style="margin-bottom: 20px">

            <div class="dropdown">
                <button class="btn btn-info dropdown-toggle" type="button" id="locationsMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width: 185px">
                    Leituras por Localização
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="locationsMenu">
                    @foreach (var item in Model.Localizacoes)
                    {
                        <li><a href="@Url.Action("TodasPorLocal", new { localizacaoId = item.LocalizacaoId})">@item.Nome</a></li>
                    }
                </ul>
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 35px">
            <label>Último IP Local:</label>
            <div class="dropdown">
                <a href="http://@Model.LocalIp" target="_blank" class="btn btn-default" role="button" style="width: 185px;">@Model.LocalIp</a>
            </div>
        </div>

        <div class="form-group">
            <label>Últimas Leituras:</label><br/>
    
            <div class="dropdown">
                <div class="alert alert-danger" style="width: 185px; margin-bottom: 15px; padding: 5px; text-align: center">@Model.LastSet.HumidString % humiddade</div>
            </div>
      
            <span style="font-style: italic">Em @Model.LastSet.DateOnlyString @Model.LastSet.TimeOnlyString</span>
        </div>

    </div>
    <div class="col-lg-6">
        <div id="chart_div" style="width: 100%; min-height: 500px"></div>
    </div>

    <div class="col-lg-3">
        <div class="card-group">
            <div class="card">
                <img src="images/red.png" class="card-img-top" alt="...">
                <div class="card-body  d-flex justify-content-center flex-nowrap">
                    <h6 class="card-title "> </h6>

                </div>
                <div class="card-footer">
                    <small class="text-muted">Com falta de água à 30 minutos</small>
                </div>
            </div>
            <div class="card">
                <img src="images/good.png" class="card-img-top" alt="...">
                <div class="card-body  d-flex justify-content-center flex-nowrap">
                    <h6 class="card-title "> </h6>

                </div>
                <div class="card-footer">
                    <small class="text-muted">Humidade no solo com valores aceitáveis</small>
                </div>
            </div>


        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['line'] });
        google.charts.setOnLoadCallback(function () { drawChart(@Model.RelatorioDispositivoId); });
        $(window).resize(function () { drawChart(@Model.RelatorioDispositivoId); });
    </script>
}